//---------------------------------------------------------
//This file containes all aplication-wide Sass variables.
//---------------------------------------------------------

// COLOR SYSTEM 
$gray-555: #555;

// CHANGE BOOTSTRAP FONTS
$font-family-sans-serif: 'Noto-Sans', sans-serif;

// PATHS
$base-url: '/assets/' !default;

//ENABLE BOOTSTRAP GRADIENTS
$enable-gradients: true;

